# .gitignore

# Ignore the build output of Next.js
.next/

# Ignore node_modules for all parts of the monorepo
node_modules/

# Ignore the Sanity Studio build folder (if any)
studio/.next/

# Ignore IDE settings (optional)
.vscode/
.idea/

frontend/public/badges/.DS_Store
frontend/public/.DS_Store
frontend/src/.DS_Store
frontend/src/.DS_Store
.DS_Store
frontend/components/.DS_Store
frontend/.DS_Store
frontend/pages/.DS_Store
frontend/public/.DS_Store
frontend/public/aktplus-icons/.DS_Store
